@font-face {
    font-family: CircularXX;
    src: url(./fonts/CircularXX.woff2);
}

html {
    font-family: CircularXX, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
}

input,
textarea {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: inherit;
    color: inherit;
}
input:focus-visible,
textarea:focus-visible {
    outline: none;
}
input[type="submit"]:hover {
    cursor: pointer;
}
